video {
    width: 600px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #0055ff;
    text-align: center;
}
td {
    font-size: 28px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.red {
    color: red;
}
tr:nth-child(2) {
    font-weight: bold;
}
td:first-child {
    color: red;
}
td:last-child {
    color: #0048ff;
}
table {
    margin: 20px auto;
}
a {
    font-size: 25px;
    position: absolute;
    top: 1em;
    text-decoration: none;
}
.next {
    right: 3em;
}
.back {
    left: 3em;
}